<div class="row">

	<div class="col-md-4 offset-md-2">
		<a href="" class="btn btn-dashboard col-md-12">
			GERENCIAR ALUNOS
		</a>
	</div>

	<div class="col-md-4 ">
		<a href="" class="btn btn-dashboard col-md-12">
			GERENCIAR PROFESSORES
		</a>
	</div>

</div>