@import "fonts";
@import "bootstrap";

$white: #FFFFFF;
$blue: #a3ccff;
$l-blue: lighten($blue, 50%);
$orange: #F2AA42;
$gray: #eeeeee;


body {
	font-family:"Lato";
	height:100vh;
	width:100vw;
	background: $gray;
	overflow:hidden;
}

.container { 
	width:60vw;
	margin:30px auto;
}

header {
	text-align:center;
	font-weight:700;
}

.logo {
	color:$blue;
	font-size:2em;
}

.card {
	border-top:3px solid $blue;
	border-radius:2px;
	padding:0 15px 45px 15px;
}
.form-actions {
	text-align:right;
	padding:0;
}

#addProfessor {
	//background:$blue;
}
.admin-navbar {
	padding:0;
}
.btn-accordion {
	padding: 1em 2em;
	background: $white;
	border-radius:0;
	font-weight: 700;
	margin:0;
	text-transform: uppercase;
	color: $blue;
	&:hover, &:focus {
		border-top:1px solid $blue;
		color: $blue;	
	}
}
.navbar {
	padding-top:15px;
	padding-bottom:15px;
	border-radius:0;
	background: $blue;
}

.navbar-actions {
	text-align: right;
	.btn {
		float:none;	
	}
}

.collapse {
	padding:15px;
}

.btn-outline {
	color: $white;
	border-color: $white;
	&:hover {
		color: $blue;
		background: $white;
	}
	&.name:hover{
		color: $white;
		background: $blue;
	}
}

.btn-dashboard {
	border: 1px solid lighten($blue, 5%);
	border-radius:5px;
	padding-top:2em;
	padding-bottom:1em;
	color: lighten($blue, 5%);
	&:hover {
		border-color: darken($blue,10%);
		color: darken($blue, 10%);
	}

}
.page-content {
	margin-top:1em;
	margin-bottom:2em;
}

