<table class="table table-striped">
  <% professors.each do |professor| %>
    <tr>
      <td class="col-sm-8">
        <%= professor.name %>
      </td>
      <td class="col-sm-4">
        <%= link_to "Editar", students_path, class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
