<div class="row">

	<div class="col-md-4 offset-md-4">
		<%= link_to session_blocks_path, class:"btn btn-dashboard col-md-12" do %>
			<span class="icon col-md-12"><%= fa_icon('clock-o') %></span>
			<span class="col-md-12">AGENDAR HORÁRIO</span>
		<% end %>
	</div>

</div>